/*Menu de la paginas*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 98%;
}

li {
  border-right: 1px solid #bbb;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 45px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


/*Color para el fondo*/
div {
  padding:20px;
  margin-top:30px;
}

.fondoa{
  background-color:  #5dade2;
}
.fondob{
  background-color:  #58d68d;
}
.fondoc{
  background-color:  #48C9B0;
}
.fondod{
  background-color:  #5499C7;
}
.fondoe{
  background-color:  #73C6B6;
}

/*Body Style*/
body {
  margin: 0;
  font-family: 'Playfair Display SC', serif;
  padding: 0 1em;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

p{
  color: black;
  height: auto;
  text-align: center;
  font-size: 20px;
}

.rex1{
  color: white;
  background-color: #1a5276;
  text-align: center;
  font-size: 40px;
}

#htitle{
  color:  black;
  background-color: white;
  text-align: center;
  font-size: 60px;
  border: 5px; solid transparent;
  padding: 20px;
  border-radius: 60%;
  box-shadow: 2px 2px 3px 3px black;
}

.txbox {
  text-align: left;
}

/*table*/

table {
  align: center;
  border: 1px solid black;
  background: #34495E;
  color: black;
  border-radius: .4em;
}

tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-color: #46637f;
}

th {
  border: 1px solid black;
  background-color: #4CAF50;
  padding: .25em .5em;
  padding-left: 0;
  padding-right: 0;
  margin: .5em 1em;
  text-align: center;
}

td {
  border: 1px solid black;
  background-color: #34495E;
  padding-top: .2em;
  padding-bottom: .2em;
  font-weight: bold;
  margin: .5em 1em;
  text-align: center;
}
